body{
    background: #F0F8FF9;
    font: normal 16 pt arial;
}
.container{
    text-align: center;
}
header{
    
    text-align: center;

}
div{
    text-align: center;
}


section{
    background: white;
    border-radius: 15px;
    box-shadow: 3px 3px 50px;
    margin: auto;
    width: 500px;
    padding: 15px;
    text-align: center;
}
img{
    margin-top:10px ;
    width: 100%;
}
footer{
    text-align: center;
    font-style: italic ;
}